container_commands:
  01_migrate:
    command: "python portfolio-backend/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python portfolio-backend/manage.py collectstatic --noinput"
  

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: pfbe.wsgi:application